.customer-form {
  grid-template-columns: minmax(0, 1.3fr) minmax(0, 1fr) minmax(0, 1.5fr) auto;
}

.customer-form .form-actions {
  grid-column: auto;
}

@media (max-width: 850px) {
  .customer-form {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media (max-width: 600px) {
  .customer-form {
    grid-template-columns: minmax(0, 1fr);
  }
}
